.row
	.col-xs-4.col-xs-offset-4
		.well.text-center
			%p
				=gravatar_for @user, 100
			%p Username: #{@user.username}
			%p Email: #{@user.email}
			%p Account created at: #{ @user.created_at.strftime( "%d %B, %Y" )}
			%p Posts created: #{ @user.posts.count }
			=link_to "Back to Users", users_path, class:"btn btn-default btn-sm"
.row
	.col-xs-8.col-xs-offset-2
	%div.text-center
		=will_paginate @post, renderer: BootstrapPagination::Rails

	-@post.each do |post|
		.well
			%h2
				=link_to post.title, post_path(post)
			%p
				=post.description
			.post-action
			=link_to "Back", posts_path, class: "btn btn-default btn-sm"
			-if user_signed_in? && current_user.id == post.user_id
				=link_to "Edit", edit_post_path(@post), class: "btn btn-warning btn-sm"
				=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"

%div.text-center
	=will_paginate @post, renderer: BootstrapPagination::Rails