.row
	.col-xs-4.col-xs-offset-4
		.well.text-center
			%p
				=gravatar_for @user
			%p
				=@user.email
.row
	.col-xs-8.col-xs-offset-2
	-@user_posts.each do |user_post|
		.well
			%h2
				=user_post.title
			%p
				=user_post.description