.col-xs-8.col-md-offset-2
			
	=render "shared/errors", obj: @post

	=simple_form_for @post, html: {  multipart: true, class: 'form-horizontal' } do |f|
		.form-group
			=f.input :title, class: "form-control", error: 'Title is mandatory, please specify one'
		.form-group	
			=f.input :description, input_html: { rows: 10 }, error: 'Description is mandatory, please specify one'
		.form-group	
			=f.file_field :image, accept: 'image/jpeg,image/gif,image/png'
		.form-group
			=f.button :submit