%h1.text-center Blog posts index page
%br/

%div.text-center					
	=will_paginate @posts, renderer: BootstrapPagination::Rails
%br/

=render 'post', obj: @posts

%div.text-center					
	=will_paginate @posts, renderer: BootstrapPagination::Rails