.post-container
	.well
		#post_show_image
			=image_tag @post.image.url if @post.image?
		%h2
			=@post.title
		%p 
			=simple_format @post.description
		%small
			Created 
			=time_ago_in_words(@post.created_at)
			ago
			%i
				by
				=@post.user.email
			%p 
				=render @post.categories
		%hr/

		.post-votes.text-right
			=link_to like_post_path(@post), method: :put do
				%i.fa.fa-thumbs-up 
				=@post.get_upvotes.size
			=link_to dislike_post_path(@post), method: :put do
				%i.fa.fa-thumbs-down
				=@post.get_downvotes.size

		.post-action
			=link_to "Back", posts_path, class: "btn btn-default btn-sm"
			-if user_signed_in? && current_user.id == @post.user_id
				=link_to "Edit", edit_post_path(@post), class: "btn btn-warning btn-sm"
				=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"

		%hr/
		%h3 Comments:
		=render @post.comments
		%hr/
		%h3 Add comment:
		=render "comments/form"
