@import "bootstrap-sprockets"
@import "bootstrap"

.error_listing
	margin-top: 10px

.navbar-brand
	font-weight: bold
	font-size: 2.2rem

.profile-img
	border-radius: 5px

#post_show_image
	img
		width: 500px
		height: auto

#post_index_image
	float: right
	display: iniline-block
	img
		width: 100px
		height: auto

.comment
	.well
		background-color: #DCDCDD