.jumbotron
	.container.text-center
		%h1 Welcome to GloG #{ current_user.username if user_signed_in? } !
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt provident tempora ab, qui optio et quisquam unde necessitatibus expedita nihil ut, saepe voluptas recusandae sunt iure rem voluptatum aut! Dolor.
		=link_to "Sign up", new_user_registration_path, {class: "btn btn-lg btn-primary"}